<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Договоры</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<nav>

</nav>
<h1>Договоры</h1>
<form th:action="@{/agreement/add}" method="post">
  <input type="date" name="date" required>
  <select name="impresario" required>
    <option selected disabled>Выберите импресарио</option>
    <option th:each="impresario : ${impresarios}" th:value="${impresario.id}" th:text="${impresario.person.name} + ' ' + ${impresario.person.surname} + ' ' + ${impresario.person.patronymic}" />
  </select>
  <select name="organizer" required>
    <option selected disabled>Выберите организатора</option>
    <option th:each="organizer : ${organizers}" th:value="${organizer.id}" th:text="${organizer.person.name} + ' ' + ${organizer.person.surname} + ' ' + ${organizer.person.patronymic}" />
  </select>
  <button type="submit">Добавить</button>
</form>
<table>
  <thead>
  <tr>
    <th>Дата</th>
    <th>Импресарио</th>
    <th>Организатор</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="agreement : ${agreements}">
    <td th:text="${agreement.date}"></td>
    <td th:text="${agreement.impresario.person.name} + ' ' + ${agreement.impresario.person.surname} + ' ' + ${agreement.impresario.person.patronymic}"></td>
    <td th:text="${agreement.organizer.person.name} + ' ' + ${agreement.organizer.person.surname} + ' ' + ${agreement.organizer.person.patronymic}"></td>

    <td>
      <form th:action="@{/agreement/delete/{id}(id=${agreement.id})}" method="post">
        <button type="submit">Удалить</button>
      </form>
    </td>
    <td>
      <form th:action="@{'/agreement/' + ${agreement.id}}">
        <button type="submit">Редактировать</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>