<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Артист/Мероприятие</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Артист/Мероприятие</h1>
<form th:action="@{/artist-event/{id}(id=${artistEvent.id})}" method="post">
  <label for="prize">Призёр:</label>
  <input type="checkbox" name="prize" id="prize" th:checked="${artistEvent.prize}">
  <select name="artist" required>
    <option selected disabled>Выберите артиста</option>
    <option th:each="artist : ${artists}" th:value="${artist.id}" th:text="${artist.person.name} + ' ' + ${artist.person.surname} + ' ' + ${artist.person.patronymic}" th:selected="${artist.person.id == artistEvent.artist.person.id}"/>
  </select>
  <select name="culturalEvent" required>
    <option selected disabled>Выберите мероприятие</option>
    <option th:each="culturalEvent : ${culturalEvents}" th:value="${culturalEvent.id}" th:text="${culturalEvent.title}" th:selected="${culturalEvent.id == artistEvent.culturalEvent.id}"/>
  </select>
  <button type="submit">Редактировать</button>
</form>
</body>
</html>