<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Мероприятие/Сооружение</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<nav>

</nav>
<h1>Мероприятие/Сооружение</h1>
<form th:action="@{/event-building/add}" method="post">
  <input type="date" name="date" required>
  <select name="culturalBuilding" required>
    <option selected disabled>Выберите сооружение</option>
    <option th:each="culturalBuilding : ${culturalBuildings}" th:value="${culturalBuilding.id}" th:text="${culturalBuilding.title}" />
  </select>
  <select name="culturalEvent" required>
    <option selected disabled>Выберите мероприятие</option>
    <option th:each="culturalEvent : ${culturalEvents}" th:value="${culturalEvent.id}" th:text="${culturalEvent.title}" />
  </select>
  <button type="submit">Добавить</button>
</form>
<form th:action="@{/event-building/filter}">
  <input type="date" name="minDate">
  <input type="date" name="maxDate">
  <select name="culturalBuilding" required>
    <option selected disabled>Выберите сооружение</option>
    <option th:each="culturalBuilding : ${culturalBuildings}" th:value="${culturalBuilding.id}" th:text="${culturalBuilding.title}" />
  </select>
  <button type="submit">Поиск</button>
</form>
<table>
  <thead>
  <tr>
    <th>Дата</th>
    <th>Культурное сооружение</th>
    <th>Культурное мероприятие</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="eventBuilding : ${eventBuildings}">
    <td th:text="${eventBuilding.date}"></td>
    <td th:text="${eventBuilding.culturalBuilding.title}"></td>
    <td th:text="${eventBuilding.culturalEvent.title}"></td>

    <td>
      <form th:action="@{/event-building/delete/{id}(id=${eventBuilding.id})}" method="post">
        <button type="submit">Удалить</button>
      </form>
    </td>
    <td>
      <form th:action="@{'/event-building/' + ${eventBuilding.id}}">
        <button type="submit">Редактировать</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>