<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Организатор/Мероприятие</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<nav>

</nav>
<h1>Организатор/Мероприятие</h1>
<form th:action="@{/organizer-event/add}" method="post">
    <input type="number" name="fee" placeholder="Гонорар" required>
    <select name="organizer" required>
        <option selected disabled>Выберите организатора</option>
        <option th:each="organizer : ${organizers}" th:value="${organizer.id}" th:text="${organizer.person.name} + ' ' + ${organizer.person.surname} + ' ' + ${organizer.person.patronymic}" />
    </select>
    <select name="culturalEvent" required>
        <option selected disabled>Выберите мероприятие</option>
        <option th:each="culturalEvent : ${culturalEvents}" th:value="${culturalEvent.id}" th:text="${culturalEvent.title}" />
    </select>
    <button type="submit">Добавить</button>
</form>
<form th:action="@{/organizer-event/filter}">
    <select name="organizer" required>
        <option selected disabled>Выберите организатора</option>
        <option th:each="organizer : ${organizers}" th:value="${organizer.id}" th:text="${organizer.person.name} + ' ' + ${organizer.person.surname} + ' ' + ${organizer.person.patronymic}" />
    </select>
    <button type="submit">Поиск</button>
</form>
<table>
    <thead>
    <tr>
        <th>Гонорар</th>
        <th>Организатор</th>
        <th>Культурное мероприятие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="organizerEvent : ${organizerEvents}">
        <td th:text="${organizerEvent.fee}"></td>
        <td th:text="${organizerEvent.organizer.person.name} + ' ' + ${organizerEvent.organizer.person.surname} + ' ' + ${organizerEvent.organizer.person.patronymic}"></td>
        <td th:text="${organizerEvent.culturalEvent.title}"></td>
        <td>
            <form th:action="@{/organizer-event/delete/{id}(id=${organizerEvent.id})}" method="post">
                <button type="submit">Удалить</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/organizer-event/' + ${organizerEvent.id}}">
                <button type="submit">Редактировать</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>